form(action="/login", method="POST")
    label login 
    input(name="login", id="login", value="admin")
    label password 
    input(type="password",id="password", name="password", value="admin123")
    input(type="submit", value="login")

//- script(src="js/login.js") 